:root {
	--color-mono-0: hsl(0, 0%, 0%);
	--color-mono-10: hsl(0, 0%, 10%);
	--color-mono-20: hsl(0, 0%, 20%);
	--color-mono-30: hsl(0, 0%, 30%);
	--color-mono-40: hsl(0, 0%, 40%);
	--color-mono-50: hsl(0, 0%, 50%);
	--color-mono-60: hsl(0, 0%, 60%);
	--color-mono-70: hsl(0, 0%, 70%);
	--color-mono-80: hsl(0, 0%, 80%);
	--color-mono-90: hsl(0, 0%, 90%);
	--color-mono-100: hsl(0, 0%, 100%);

	--color-primary: hsl(120, 50%, 50%);
}

$font-primary: "Poppins";
